// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #FFFFFF;

// Primary/body text
$mainFont: 'Roboto', sans-serif;
$mainFontSize: 2em;
$mainColor: #575757;

// Headings
$headingMargin: 0 0 20px 0;
$headingFont: $mainFont;
$headingColor: #575757;
$headingLineHeight: 1.3em;
$headingLetterSpacing: 0.02em;
$headingTextTransform: none;
$headingTextShadow: 0px 0px 6px rgba(0,0,0,0);
$heading1TextShadow: $headingTextShadow;

// Links and actions
$linkColor: #378dd6;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
